@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
  --neutral-100: 245 245 245;
  --neutral-200: 229 229 229;
  --neutral-300: 212 212 212;
  --neutral-400: 163 163 163;
  --neutral-500: 115 115 115;
  --neutral-600: 82 82 82;
  --neutral-700: 64 64 64;
  --neutral-800: 38 38 38;
  --neutral-900: 23 23 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 245 245 245;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgb(var(--neutral-900));
  color: rgb(var(--background));
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: rgb(var(--neutral-100));
    color: rgb(var(--background));
  }
}